
/* common */
body{font-size:14px;}
.tec{text-align:center}
.x_title{margin-bottom:20px}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{background-color:#666 !important;border-color:#666 !important;outline:none !important;-webkit-tap-highlight-color:transparent !important }
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus{background:#666 !important;border:1px solid #666 !important;outline:none !important;-webkit-tap-highlight-color:transparent !important}
.page-link, .page-link:hover{color:#666}
.table.type02 th{background-color:#f2f2f2}
.table.type02 tr:last-child th, .table.type02 tr:last-child td {border-bottom:1px solid #dee2e6}
.table strong{font-weight:bold}

/* 융복합 설정 */
.multi_set_wrap .column{width:33.33%;border:none;}
.multi_set_wrap .column-header{padding:1rem 0.1rem;border:none}
.multi_set_wrap .result_wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align: center;align-items:center}
.multi_set_wrap .result{width:calc(100% - 71px);padding:0.43rem;margin-bottom:5px;margin-right:0.5rem;border:1px solid #333}
.multi_set_wrap .matching_data_wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:1rem}
.multi_set_wrap .matching_data{width:calc(100% - 111px);padding:0.43rem;margin-right: 0.2rem;margin-right:0.5rem;overflow-x:auto;border:1px solid #333;}
.multi_set_wrap .data_set_box{height:30rem;padding:1rem;overflow-y:auto;border: #000013 1px solid}
.multi_set_wrap .data_set_box.v02{height:27.2rem}
.multi_set_wrap .data_set{margin-bottom:1rem}
.multi_set_wrap .data_set .data{margin-bottom:0.2rem}
.multi_set_wrap .data_box{border:1px solid #000013}

@media (max-width:991.98px) {
    .multi_set_wrap .columns{flex-wrap:wrap}
    .multi_set_wrap .column{width:100%}
}

/* ID설정 팝업 */
.idSetting2_modal table th,
.idSetting2_modal table td{text-align:center;word-break:break-all}
.idSetting2_modal table button{margin:0 0 5px}
.idSetting2_modal .btns{margin:auto 0.5rem}
.idSetting2_modal .btn_right{border-bottom:15px solid transparent;border-top:15px solid transparent;border-left:15px solid #666;border-right:15px solid transparent}
.idSetting2_modal .btn_left{border-bottom:15px solid transparent;border-top:15px solid transparent;border-left:15px solid transparent;border-right:15px solid #666}
.idSetting2_modal .btn_up{border-bottom:10px solid #666;border-top:10px solid transparent;border-left:10px solid transparent;border-right:10px solid transparent}
.idSetting2_modal .btn_down{border-bottom:10px solid transparent;border-top:10px solid #666;border-left:10px solid transparent;border-right:10px solid transparent}
.idSetting2_modal .drake_result.disabled{background-color:#e9ecef}